<header class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
        <% let home = loggedIn ? '/trips' : '/' %>
        <div class="nav-bar" style="width: 100vw;">
            <a class="navbar-brand mb-0 h1" href="<%= home %>"><img src="/images/tripBucketLogoHigh.svg" alt="trip bucket logo"></a>
            <ul class="nav">
                <div class="right-submit-button">
                    <li><a href="/trips" class="nav-link px-2 text-secondary">Trips</a></li>
                    <li><a href="/" class="nav-link px-2 text-secondary">About</a></li>
                </div>
                <% if (loggedIn) {%>
                    <div class="right-submit-button">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-secondary" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Hello, <%= username%>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="/sessions/logout">Logout</a></li>
                            </ul>
                          </li>                
                    </div>
                <%} else {%>          
                        <div class="right-submit-button">
                            <a class="btn btn-primary me-2" href="/sessions/register"> Signup</a>
                            <a class="btn btn-success me-2" href="/sessions/login"> Login</a>
                        </div>

                <%}%>

            </ul>
        </div>
    </div>
</header>

