<div class="sidebar-view">
    <div>
        <a href="/trips/new" class="btn btn-primary">Plan a new trip</a>
        <% JSON.parse(trips).forEach((trip) => { %>
            <h4>
                <a href="/trips/<%= trip._id %>">
                        <%= trip.name%>
                </a>
            </h4>
        <% }) %>
    </div>
    <div id='map' style='width: 100%; height: 100vw;'>
    </div>
</div>

<!-- CLIENT SIDE -->
<script>
    // access the places in the database
    let trips= JSON.parse('<%- trips %>')

    //  make the map
    mapboxgl.accessToken  = '<%= process.env.MAPBOX_ACCESS_TOKEN %>'
    const map = new mapboxgl.Map({
    container: 'map', // container ID
    style: 'mapbox://styles/mapbox/streets-v11', // style URL
    center: [-122.420679, 37.772537], // starting position [lng, lat]
    zoom: 11 // starting zoom
    });

    //  add markers
    trips.forEach((trip) => {
        // console.log(place)
        if (trip.places_to_visit.length > 0) {
            trip.places_to_visit.forEach((pin) => {
                let marker = new mapboxgl.Marker({
                    color: "#F05441"
                }).setLngLat([pin.long, pin.lat])
                .setPopup(new mapboxgl.Popup().setHTML(`<h1>${pin.title}</h1>`)) 
                .addTo(map);
            })
        }
    })
    
</script>