<a href="/trips/new" class="btn btn-primary">Plan a new trip</a>

<% trips.forEach((trip) => { %>
    <h4>
        <a href="/trips/<%= trip.id %>">
                <%= trip.name%>
        </a>
    </h4>

    <% }) %>
