<h1>Plan a New Trip</h1>
<form action="/trips" method='post'>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="startDate">Start date</label>
    <input type="date" name="start_date" id="startDate">
    <label for="endDate">End date</label>
    <input type="date" name="end_date" id="endDate">
    <label for="citiesToVisit">Cities to Visit</label>
    <input type="text" name="cities_to_visit" id="citiesToVisit">
    <input type="submit" value="Add New Trip">
</form>


<div id='map' style='width: 100vw; height: 45vh;'></div>
<script src="../app.js"></script>