<div id='map' style='width: 100%; height: 100vw;'>
</div>
<div class="modal-background">
    <div class="flex-shrink-0 p-3 bg-white modal-textbox card">
        <a href="/trips"> < Back to trips</a>
        <h1>Plan a New Trip</h1>
        <form action="/trips" method='post'>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control">
            <label for="startDate">Start date</label>
            <input type="date" name="start_date" id="startDate" class="form-control">
            <label for="endDate">End date</label>
            <input type="date" name="end_date" id="endDate" class="form-control">
            <p id="dateWarning"></p>
            <div class="right-submit-button">
                <input type="submit" value="Add New Trip" class="btn btn-primary" id="submit">
            </div>
        </form>
    </div>
</div>
<script>
mapboxgl.accessToken  = '<%= process.env.MAPBOX_ACCESS_TOKEN %>'
const map = new mapboxgl.Map({
container: 'map', // container ID
style: 'mapbox://styles/mapbox/streets-v11', // style URL
center: [-74.5, 40], // starting position [lng, lat]
zoom: 10 // starting zoom
});

let endDateControl = document.querySelector('#endDate')
endDateControl.addEventListener('change', () => {
    let startDateValue= document.querySelector('#startDate').value
    let endDateValue = endDateControl.value
    if (startDateValue > endDateValue) {
        document.querySelector('#dateWarning').innerText = 'End date should not be earlier than trip start date'
        document.getElementById('submit').disabled = true
    } else {
        document.querySelector('#dateWarning').innerText = ''
        document.getElementById('submit').disabled = false

    }
})

</script>