@import url(//db.onlinewebfonts.com/c/02d8f1743ede250c7c9865f1574d7cc6?family=Circular+Book);

* {
    font-family: 'Circular Book';

}

body {
    height: 100vh;
}

.sidebar-view {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
}

.sidebar-view:first-child {
    overflow: scroll;
}

p {
    color: black;
}

.trips-list {
    display: block;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    /* content: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org… stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e); */
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
}


.custom-form {
    margin: 15% auto;}

.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    padding: 15% 20%;
}

.card-body {
    padding: 10%;
}