@import url(//db.onlinewebfonts.com/c/02d8f1743ede250c7c9865f1574d7cc6?family=Circular+Book);

* {
    font-family: 'Circular Book', Arial, Helvetica, sans-serif;

}

body {
    height: 100vh;
}

p {
    color: black;
    font-size: 16px;
}
button {
    display: flex;
    align-items: center;
}
ul {
    margin: 0;
    padding: 0;
}

button > h3 {
    display: inline;
}

.sidebar-view {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-template-rows: 1fr;
}

.sidebar-view:first-child {
    overflow: scroll;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    padding: 5%;
}

.landing-cover-page {
    background-image: url('../images/palawan.jpg');
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);

}

.places-list {
    padding-top: 2%;
}

.title-container {
    display: flex;
    justify-content: space-between;
    padding: 2%;

}
.title {
    padding-top: 2%;
    padding-bottom: 1%;
}

.place-info {
    padding: 5%;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    /* content: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org… stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e); */
    transition: transform .35s ease;
    transform-origin: 0.5em 50%;
}

.custom-form {
    margin: 15% auto;}

.form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    padding: 15% 20%;
}
.place-delete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    /* This means the modal will take the X% height of the parent */
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: scroll;
    text-align: left;
  }
.modal-textbox {
    max-width: 55%;
    margin: 150px auto;
    overflow: auto;
    flex-direction: column;
}
.right-submit-button {
    display: flex;
    justify-content: flex-end;
}
.form-center-button {
    padding: 5% 0%;
}
.form {
    padding: 2% 5%;
}
.btn-primary {
    background-color: #00577d;
    border-color: #00577d;

}