@import url(//db.onlinewebfonts.com/c/02d8f1743ede250c7c9865f1574d7cc6?family=Circular+Book);

* {
    font-family: 'Circular Book';

}

.sidebar-view {
    display: grid;
    grid-template-columns: 1.5fr 4fr;
}

p {
    color: black;
}

.trips-list {
    display: block;
}

.hidden {
    display: none;
}

.show {
    display: block;
}
