<div class="px-4 pt-5 text-center border-bottom landing-cover-page">
  <h1 class="display-4 fw-bold text-white">Experience places and discover yourself</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 text-white">Plan ahead and spend time on your trips enjoying every moment.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
      <button class="btn btn-primary btn-lg px-4">Sign up</button>
      <% if (!loggedIn) { %>
        <button type="button" class="btn btn-success btn-lg px-4">Login</button>
      <% } %>
    </div>
  </div>
</div>    
<div class="container marketing col-md-9">
  <div class="row featurette">
    <div class="col-md-4">
      <h2 class="featurette-heading">TripBucket allows you to plan multiple trips, <span class="text-muted">all over the world.</span></h2>
      <p class="lead">Here's to never spending half of your trip figuring out what to do and where to go!</p>
      <p><a class="btn btn-secondary" href="/trips">Get started »</a></p>
    </div>
    <div class="col-md-8 d-flex justify-content-center">
      <img src="/images/landing1.png" alt="map with pin locations" style="width: 80%;">
    </div>
  </div>
    
  <hr class="featurette-divider">
    
  <div class="row featurette">
    <div class="col-md-4 order-md-2">
      <h2 class="featurette-heading">TripBucket provides you directions<span class="text-muted"> to get to the place you would like to visit</span></h2>
      <p class="lead">...and you can either drive, walk, or bike to get there!</p>
      <p><a class="btn btn-secondary" href="/trips">Get started »</a></p>
    </div>
    <div class="col-md-8 order-md-1 d-flex justify-content-center">
      <img src="/images/landing2.png" alt="map with directions" style="width: 80%;">    
    </div>
  </div>
    
  <hr class="featurette-divider">
    
  <div class="row featurette">
    <div class="col-md-4">
      <h2 class="featurette-heading">TripBucket will remind you to book reservations<span class="text-muted"> 30 days before your trip</span></h2>
      <p class="lead">We want to make sure you spend 100% of the time having fun!</p>
      <p><a class="btn btn-secondary" href="/trips">Get started »</a></p>
    </div>
    <div class="col-md-8">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    </div>
  </div>   
</div>