<div class="form-page text-center">
    <div class="custom-form card">
        <div class="card-body">
            <form action="/sessions/login" method="post" _lpchecked=1>
                <img src="/images/tripBucketLogoHigh.svg" alt="trip bucket logo">
                <h3>Login to plan your adventures!</h3>
                <%if (message) {%>
                    <p><%= message%></p>
                <%}%>   
                <div class="form-floating">
                    <!-- label "for" points to "id" of input -->
                    <input type="text" class="form-control" id="username" name="username" place>
                    <label for="username">Username</label>
                </div>
                <fieldset class="form-floating">
                    <input type="password" class="form-control" id="password" name="password">
                    <label for="password">Password:</label>
                </fieldset>
                <input type="submit" value="Log in" class="btn btn-lg btn-success">
            </form>
        </div>
    </div>
</div>