<h1>Register</h1>
<form action="/sessions/register" method="post">
    <fieldset>
        <!-- label "for" points to "id" of input -->
        <label for="useremail">Email:</label>
        <input type="text" id="useremail" name="useremail">
    </fieldset>
    <fieldset>
        <!-- label "for" points to "id" of input -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
    </fieldset>
    <fieldset>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </fieldset>
    <fieldset>
        <label for="verifyPassword">Re-type Password:</label>
        <input type="password" id="verifyPassword" name="verifyPassword">
    </fieldset>
    <input type="submit" value="Register">
</form>